/* Global */

:root { 

  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe8d8d;
  --color-dark-pink: #ffdf86;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #51d6ff;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size--border--radius: 4px;

  /*Animation*/
  --animation-duration: 300ms;

  /*button font famlly*/
  --button-famlly: 'Crete Round', serif;;

}


/* Universal tags */

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-user-select: none;
}

body {
  margin: 0;
  font-family: tahoma, Arial;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {

  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}


/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-large);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 40px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Lodaing */

#loading {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: white;
  border-radius: 0%;
  animation: bghidden 3.2s linear;
  z-index: 99;
 }

@keyframes bghidden {
  80% {width: 100%; border-top-right-radius: 0%; border-bottom-right-radius: 0%;}
  85% {width: 75%; border-top-right-radius: 10%; border-bottom-right-radius: 40%;}
  90% {width: 50%; border-top-right-radius: 40%; border-bottom-right-radius: 10%;}
  95% {width: 25%; border-top-right-radius: 10%; border-bottom-right-radius: 20%;}
  100% { width: 0%; border-top-right-radius: 0%; border-bottom-right-radius: 0%;}
 }

.loading_item {
   position: relative;
   width: 80px;
   height: 80px;
   border: 6px solid #fe8d8d;
   border-radius: 50%;
   animation: loadingjump .5s ease-in-out infinite;
 }

.loading_item::after {
  display: block;
  position: absolute;
  top: -7px;
  left: -7px;
  content: "";
  width: 71px;
  height: 68px;
  border: 6px solid #ffdf86;
  border-color:  #ffdf86 transparent transparent;
  border-radius: 50%;
  animation: loadingspin 1s linear infinite;
}

.loading_shadow {
  width: 80px;
  height: 20px;
  margin-top: 20px;
  border-radius: 50%;
  background: radial-gradient( rgb(112, 112, 112), rgb(153, 153, 153), rgb(212, 212, 212));
  animation: loadingshdow .5s ease-in-out infinite;
}

@keyframes loadingspin { 
  100% {transform: rotate(360deg) }
}

@keyframes loadingjump { 
  0% {transform: rotate(360deg) translateY(0px); }
  50% {transform: rotate(360deg) translateY(-30px); }
  100% {transform: rotate(360deg) translateY(0px); }
}

@keyframes loadingshdow { 
  0% {background: radial-gradient( rgb(199, 199, 199) 20%, rgb(214, 214, 214) 40%, rgb(228, 228, 228) 80%);}
  50% {background: radial-gradient( rgb(199, 199, 199) 25%, rgb(214, 214, 214) 45%, rgb(228, 228, 228) 85%);}
  100% {background: radial-gradient( rgb(199, 199, 199) 20%, rgb(214, 214, 214) 40%, rgb(228, 228, 228) 80%);}
}

/* Navbar */

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  padding: 0px 20px;
  position: fixed;
  background-color: transparent;
  width: 100%;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 2;
}

#navbar.navbar__dark {
  padding: 5px 25px;
  background: linear-gradient(90deg, #ffdf86, #fe8d8d, #ffdf86, #fe8d8d);
  background-size: 400% 400%;
  -webkit-animation: bgani 7s ease-in-out infinite;
  -moz-animation: bgani 7s ease-in-out infinite; 
  -o-animation: bgani 7s ease-in-out infinite; 
  animation: bgani 7s ease-in-out infinite;
}

.navbar__toggle-btn.navbar__dark {
  padding: 3px 10px;
}

.navbar__menu {
  display: flex; 
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__logo a{
  font-family: 'Racing Sans One', cursive;
  font-weight: var(--weight-regular);
  font-size: 26px;
  position: relative;
  top: -4px;
}

.navbar__menu__itme {
  margin: 0 4px;
  padding: 5px 12px;
  cursor: pointer;
  border-radius: var(--size--border--radius);
  font-family: var(--button-famlly);
}

.navbar__menu__itme.active {
  border: 1px solid var(--color-white);
}

.navbar__menu__itme:hover {
  background: var(--color-dark-pink);
  border-radius: var(--size--border--radius);
}

.navbar__toggle-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
  transition: all var(--animation-duration) ease-in-out;
}

.navbar__toggle-btn:hover {
  color: var(--color-dark-pink);
}

/* Home */

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%; 
  height: 100vh; 
  text-align: center;
  background: linear-gradient(90deg, #ffdf86, #fe8d8d, #ffdf86, #fe8d8d);
  background-size: 400% 400%;
  color: var(--color-pink);
  -webkit-animation: bgani 7s ease-in-out infinite;
  -moz-animation: bgani 7s ease-in-out infinite; 
  -o-animation: bgani 7s ease-in-out infinite; 
  animation: bgani 7s ease-in-out infinite;
}

@keyframes bgani { 
  0%{background-position:0% 50%} 
  50%{background-position:50% 50%} 
  100%{background-position:0% 50%}
}
@-webkit-keyframes bgani { 
  0%{background-position:0% 50%} 
  50%{background-position:50% 50%} 
  100%{background-position:0% 50%} 
}
@-moz-keyframes bgani {
  0%{background-position:0% 50%} 
  50%{background-position:50% 50%} 
  100%{background-position:0% 50%} 
} 
@-o-keyframes bgani {
  0%{background-position:0% 50%} 
  50%{background-position:50% 50%} 
  100%{background-position:0% 50%} 
} 

.home__contents {
  overflow: hidden;
  z-index: 1;
}

.home__profile__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  height: 350px;
  margin: 50px 0 0 0;
  animation: profile_visible 3.5s ease-in-out;
  perspective: 1000px;
}

@keyframes profile_visible {
  75%{transform: scale(0)}
  100%{transform: scale(1)}
}

.home__profile__box {
  position: relative;
  width: 200px; 
  height: 200px;
  animation: rotata3D 5s linear infinite;
  transform-style: preserve-3d;
}

.home__profile__box div {
  width: 200px; height: 200px;
  position: absolute;
  border: 2px solid white;
  cursor: pointer;
}

@keyframes rotata3D {
  from{transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);}
  to{transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);}
}

.home__profile__box div:nth-child(1) {
  background: url(../images/work/work-illust-1-pre.png) no-repeat;
  background-size: contain;
  transform: rotateY(0deg) translate3d(0px, 0px, 100px); /* 반지름125가운데 있는 사진들의 거리는 125px 용도 */
}

.home__profile__box div:nth-child(2) {
  background: url(../images/work/work-illust-2-pre.png) no-repeat;
  background-size: contain;
  transform: rotateY(90deg) translate3d(0px, 0px, 100px);
}

.home__profile__box div:nth-child(3) {
  background: url(../images/work/work-charater-2-pre.png) no-repeat;
  background-size: contain;
  transform: rotateY(180deg) translate3d(0px, 0px, 100px);
}

.home__profile__box div:nth-child(4) {
  background: url(../images/work/work-caricature-3-pre.png) no-repeat;
  background-size: contain;
  transform: rotateY(270deg) translate3d(0px, 0px, 100px);
}

.home__profile__box div:nth-child(5) {
  background: url(../images/work/work-charater-1-pre.png) no-repeat;
  background-size: contain;
  transform: rotateX(90deg) translate3d(0px, 0px, 100px);
}

.home__profile__box div:nth-child(6) {
  background: url(../images/work/work-illust-3-pre.png) no-repeat;
  background-size: contain;
  transform: rotateX(270deg) translate3d(0px, 0px, 100px);
}

@keyframes profilejump { 
  0% { transform: translateY(0px);}
  50% { transform: translateY(-10px);}
  100% { transform: translateY(0px);}
}
@-webkit-keyframes profilejump { 
  0% { transform: translateY(0px);}
  50% { transform: translateY(-10px);}
  100% { transform: translateY(0px);}
}
@-moz-keyframes profilejump {
  0% { transform: translateY(0px);}
  50% { transform: translateY(-10px);}
  100% { transform: translateY(0px);}
} 
@-o-keyframes profilejump {
  0% { transform: translateY(0px);}
  50% { transform: translateY(-10px);}
  100% { transform: translateY(0px);}
} 

.home__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url(../images/home_background.png) no-repeat center;
  background-size: cover;
}

.home__title, .home__description {
  color: var(--color-white);
  margin-top: 20px;
}

.home__title {
  animation: title_visible 3.8s ease-in-out;
}

@keyframes title_visible {
  85%{transform: translateX(-100%); opacity: 0;}
  100%{transform: translateX(0%); opacity: 1;}
}

.home__description {
  font-size: var(--font-medium);
  animation: description_visible 4.1s ease-in-out;
}

@keyframes  description_visible {
  90%{transform: translateX(100%); opacity: 0;}
  100%{transform: translateX(0%); opacity: 1;}
}

.home__contact {
  margin-top: 30px;
  animation: contact_visible 4.4s ease-in-out;
}

@keyframes  contact_visible {
  95%{transform: translateY(100%); opacity: 0;}
  100%{transform: translateY(0%); opacity: 1;}
}

.button_basic {
  position: relative;
  width: 160px;
  height: 50px;
  text-align: center;
  color: var(--color-white);
  font-size: var(--font-regular);
  font-family: var(--button-famlly);
}

.roll {
  perspective: 500px;
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
}

.roll span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 50px;
  padding: 12px;
  border: 1px solid var(--color-white);
  border-radius: var(--size--border--radius);
}

.roll span:nth-of-type(1) {
  top: -1px;
  background-color: transparent;
  transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transform-origin: 50% 50% -25px;
  -webkit-transform-origin: 50% 50% -25px;
  -moz-transform-origin: 50% 50% -25px;
}

.roll span:nth-of-type(2) {
  background-color: transparent;
  transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transform-origin: 50% 50% -25px;
  -webkit-transform-origin: 50% 50% -25px;
  -moz-transform-origin: 50% 50% -25px;
}

.roll:hover span:nth-of-type(1) {
  transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
}

.roll:hover span:nth-of-type(2) {
  background-color: rgba(245, 160, 110, 0.397);
  transform: rotateX(-90deg);
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
}

/* Section Common */

.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1130px;
  margin: auto;
  padding: 50px;
}

/* About */

.about__majors {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 80px 0;
}

.about__majors .line {
  position: relative;
  position: absolute;
  top: 36%;
  left: 0;
  width: 100%;
  height: 2px;
  background: rgb(218, 218, 218);
}

.about__majors .line::before {
 display: block;
 content: "";
 position: absolute;
 top: -6px;
 width: 13px;
 height: 13px;
 background-color:  rgb(218, 218, 218);
 border-radius: 50%;
}

.about__majors .line::after {
  display: block;
  content: "";
  position: absolute;
  top: -6px;
  right: 0;
  width: 13px;
  height: 13px;
  background-color:  rgb(218, 218, 218);
  border-radius: 50%;
 }

.major {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.major__icon {
  overflow: hidden;
  position: relative;
  width: 230px; height: 230px;
  margin-bottom: 16px;
  border: 3px solid white;
  border-radius: 50%;
  color: var(--color-blue);
  cursor: pointer;
  box-shadow: 0px 0px 10px rgb(151, 151, 151);
}

.major__icon:hover {
  transform: rotateY(180deg);
  transition: 0.3s;
  animation: major_rotate .5s linear;
}

@keyframes major_rotate {
  0% {transform: rotateY(0deg);}
  100% {transform: rotateY(180deg);}
}

.major__icon img {
  max-width: 100%;
  transition: all var(--animation-duration) ease; /*250~300ms는 애니메이션 표준 시간*/
}

.major__icon span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 30px 0 30px;
  font-size: var(--font-small);
  line-height: 22px;
  color: var(--color-white);
  background: var(--color-pink);
  transform: rotateY(-180deg);
  opacity: 0;
}

.major__icon:hover span{
  opacity: 1;
  animation: major_rotate_span .5s linear;
}

@keyframes major_rotate_span {
  0% {opacity: 0;}
  /* 80% {opacity: 0;} */
  100% { opacity: 1;}
}

/* .major__icon:hover img{
  transform: scale(1.3);
} */

.major__title {
  font-weight: 600;
} 

.major__description {
  color: var(--color-dark-grey);
}

/* Skill */

#skills {
  background-color: var(--color-yellow);
  padding: 0 50px;
}

.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 20px 0;
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}

.skill {
  margin-bottom: 20px;
}

.skill__discription {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.skill__bar {
  width: 100%; height: 6px;
  background-color: var(--color-grey);
}

.skill__value {
  height: 3px;
  transform: translateY(50%);
  background-color: var(--color-orange);
}

.skillset__right {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
}

.skillset__title {
  color: var(--color-white);
}

.tools {
  background-color: var(--color-grey);
}

.tools, .etc {
  flex-basis: 50%;
  padding: 20px;
}

/* Work */

#work {
  padding: 50px;
}

.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size--border--radius);
  width: 110px;
  padding: 8px 0px;
  margin-top: 30px;
  padding-left: 19px;
  font-family: var(--button-famlly);
  font-size: var(--font-micro);
}

.category__btn.selected, .category__btn:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
  padding-left: 8px;
}

.category__btn.selected .category__count, .category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  width: 16px; height: 16px;
  line-height: 14px;
  display: inline-block;
  position: relative;
  top: -20px;
  left: 0px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 40px;
  width: 100%;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

.project {
  width: 24%;
  margin: 0 2px;
  position: relative;
  overflow: hidden;
}

.project.invisible {
  display: none;
}

.project__image {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  width: 100%; height: 100%;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  position: absolute;
  top: 0; left: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

.project__title {
  color: var(--color-light-white);
}

.project:hover .project__description{
  opacity: 0.6;
  transform: translateY(0px);
}

/* Testimonial */

#testimonials {
  background-color: var(--color-light-white);
  padding: 0px;
}

.testimonials {
  display: flex;
  flex-direction: column;
}

.testimonial {
  display: flex;
  margin: 20px 0;
  align-items: center;
}

.testimonial__avatar {
  width: 150px; height: 150px;
  border-radius: 50%;
}

.testimonial:nth-of-type(1) .testimonial__avatar {
  margin-right: 40px;
}

.testimonial:nth-of-type(2) .testimonial__avatar {
  margin-left: 40px;
}

.testimonial_speech-bubble {
  padding: 18px;
  background-color: var(--color-white);
  border-radius: var(--size--border--radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonial_speech-bubble p {
  color: var(--color-light-grey);
}

.testimonial_speech-bubble span {
  color: var(--color-pink);
}

.testimonial_speech-bubble a {
  font-size: 20px;
}

.testimonial_speech-bubble a:nth-of-type(1) {
  color: rgb(49, 207, 255);
}

.testimonial_speech-bubble a:nth-of-type(2) {
  color: rgb(238, 83, 122);
}

/* Contact */

#contact {
  background-color: var(--color-pink);
  position: relative;
}

.contact__title, .contact__email, .contact__rights {
  color: white;
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
}

.contact__links i:hover {
  color: var(--color-black);
  transform: scale(1.1);
  transition: all var(--animation-duration) ease-in;
}

.contact__links .icon-200607_bolg-logo {
  font-size: 45px;
}

.contact__links .icon-200607_bolg-logo:hover {
  -moz-animation: scale 300ms ease-in;
  -o-animation: scale 300ms ease-in;
  -webkit-animation: scale 300ms ease-in;
  animation: scale 300ms ease-in;
  display: inline-block;
}

.top {
  position: fixed;
  right: 10%; bottom: 40px;
  width: 40px; height: 40px;
  color: rgb(255, 235, 144);
  font-size: 40px;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in;
}

.top.visible {
  opacity: 1;
  pointer-events: auto;
}

@keyframes scale {
  0% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

/* for below 768px screen width */
@media screen and (max-width: 768px) {

  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    height: 75px;
  }

  #navbar.autoh {
    height: auto;
    background-color: var(--color-pink);
    transition: .5s;
  }

  .navbar__logo {
    margin-top: 15px;
  }

  .navbar__menu__container {
    width: 100%;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }
  
  .about__majors {
    flex-direction: column;
  }

  .about__majors .line {
    display: none;
  }

  .major:nth-of-type(3) {
    margin: 50px 0;
  }

  .skillset {
    flex-direction: column;
  }

  .project {
    width: 48%;
  }

}

/* Work Button  */
@media screen and (max-width: 700px) {
  .work__categories {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .category__btn {
    padding: 8px 0;
    padding-left: 19px;
    width: 100%;
    margin-top: -1px;
  }
}

/* Work image  */
@media screen and (max-width: 600px) {
  .project {
    width: 100%; height: 300px;
    margin: 5px 0;
    background-color: var(--color-light-white);
  }
}

/* for below 500px screen width */
@media screen and (max-width: 500px) {

  .section__container {
    padding: 20px
  }

  #skills {
    padding: 0;
  }

  .project {
    height: auto;
  }

  #testimonials h1 {
    font-size: 42px;
  }

  .testimonial {
    flex-direction: column;
  }

  .testimonial_speech-bubble {
    order: 1;
  }

  .testimonial__avatar {
    width: 50%; height: 50%;
    margin-bottom: 10px;
  }

  .testimonial:nth-of-type(1) .testimonial__avatar {
    margin-right: 0px;
  }

  .testimonial:nth-of-type(2) .testimonial__avatar {
    margin-left: 0px;
  }

  .contact__email {
    font-size: 24px;
  }
}

* {
  border: 1px solid hotpin;
}